<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JustFunny</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="flex flex-row bg-white shadow-lg mb-4">
            <div class="p-4">
                <a class="lg:text-3xl text-xl" asp-area="" asp-controller="Home" asp-action="Index">JustFunny</a>                
            </div>
        </nav>
    </header>

    <main role="main" class="h-full lg:w-10/12 md:w-11/12 w-full max-w-[1320px] mx-auto md:px-0 px-4">
        @RenderBody()
    </main>

    <footer class="bottom-0 flex items-center justify-center border-t">
        <div class="py-4">&copy; 2023 - Li Ming</div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
