@{
    ViewData["Title"] = "Student";
}
<div class="py-5 min-h-[600px]">
    <div class="mb-4">
        <h1 class="text-4xl font-semibold py-2">The Quiz for Students</h1>
    </div>

    <form method="post" enctype="multipart/form-data" class="flex flex-col w-full justify-center items-center">
        <h2 class="text-2xl py-2">3/22 Quiz</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe fugiat et ullam illum odio non, amet at?</div>
        <button type="submit" formaction="Quiz" class="w-fit px-4 py-2 mt-5 text-white bg-green-500 hover:bg-green-600 rounded-md">Start</button>
    </form>
</div>